{% extends "base.html" %}
{% block content %}
<section id="content" class="body">
<header>
      <h2>Archives</h2>
</header>

<dl>
{% for article in dates %}
    <dd><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
    ({% if article.locale_modified%}Update: {{ article.locale_modified }}
    {% else %}Published: {{ article.locale_date }}
    {% endif %} JST)
    {% if article.tags %} # {% for tag in article.tags %}<a href="{{ SITEURL }}/{{ tag.url }}">{{ tag | escape }}</a> {% endfor %} {% endif %}
    </dd>
{% endfor %}
</dl>
</section>
{% endblock %}
